.gloval_fixed_menu_inner {
  float: left;
  margin:0px 10px;
}

#gloval_fixed_menu {
  position:fixed;
  padding: 10px;
  background-color: black;
  color: white;
}

/* わかりやすいように訪問後もしろくしとく */
#gloval_fixed_menu :visited {
  color: white;
}
.wrap {
  padding: 20px;
}

.gnav li li {
    height: 0;
    overflow: hidden;
    transition: .5s;
}
.gnav li li a {
    border-top: 1px solid #eee;
}
.gnav li:hover > ul > li {
    height: 2rem;
    overflow: visible;
    background-color: red;
}

.post {
  margin: 10px 10px;
  width: 130px;
  height: auto;
  float: left;
  text-align: center;
  background-color: blue;
  border: 1px solid;
}

.replies {
  margin: 10px 10px;
  width: 130px;
  height: auto;
  text-align: center;
  background-color: blue;
  border: 1px solid;
}

.user {
  margin: 10px 10px;
  width: 130px;
  height: auto;
  text-align: center;
  background-color: blue;
  border: 1px solid;
}
